.hero-image {
    background-image: linear-gradient(rgba(253, 251, 251, 0.637), rgba(241, 240, 240, 0.719)),url(../img/bg-hero.jpg);
    min-height: 1000px;
    margin: 0 auto;
    padding: 70px 30px 70px 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav-bgdark {
    background-color: orangered;
    transition: background-color 200ms linear;
    box-shadow: 4px 0 20px -5px rgba(0,0,0,.6);
}
.navarea {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0;
}
.nav-item a {
    color: rgb(7, 6, 6);
    font-weight: 600;
    font-size: 16px;
    
}
.navbar2 .nav-item a {
    opacity: 0.6;
    transition: all;
    transition-duration: 0.1s;
    margin-right: 15px;
}
.navbar2 .nav-item a:hover {
    opacity: 1;
}
.navbar2 .active > .nav-link {
    opacity: 1;
}
.navbar-light .navbar-toggler {
    font-size: medium;
}
a.navbar-brand {
    color: black;
    text-shadow: black 1px 1px 1px;
    font-weight: 700;
    font-size: 30px;

}
@media (max-width: 768px){
    .nav-item a {
        font-size: 12px;
    }

    
}
@media (max-width: 345px){
    .nav-item a {
        font-size: 8px;
    }
    .container{
        max-width:300px;

    }
    .container h1{
        font-size:30px;
      
    }
    .container h2{
        font-size:22px;
    }
    .container-fluid h3{
        font-size:20px;
    }
}

@media(max-width:250px)
{
    .container h1{
        font-size:22px;
    }
    .container h2{
        font-size: 15px;
    }
}
.img-responsive:hover{
    transition: 0.5s;       
    transform:  scale(1.3);
}
.text{
    margin:none;
}
.jumbotron {
   
    background-color: transparent;
}
.banner-context h1 .our{
    color:darkgreen;
    font-size:70px;
    
}
 label {
       font-weight: 600;
}
a.feedback {
    text-decoration: none;
    font-weight: 700;
    transition: all linear 200ms;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}
a.feedback:hover {
    border-bottom: orangered solid 3px;
    color: black;
    opacity: 1;
}

.banner{
	background:url("../img/back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height:100vh;
	background-size: cover;
	margin-top: 50px;

}
.banner-context{

	color:black;
	padding-top:200px;
	width:100%;
    padding-left:20px;
    float:right;
}
.banner-context span{
	font-size:18px;
	font-weight: 700;
	letter-spacing: 3px;
}
.banner-context h1{
	font-style: italic;
	margin-bottom: 10px;
	font-size: 45px;
	font-weight: 00;
	letter-spacing: 4px;
}
.banner-context p{
	border-left:2px solid black;
	padding-left:5px;
}


@media (max-width:576px){
    .banner-context span{
		font-size:16px;
	}
	.banner-context h1{
		font-size:27px;
	}
}

.hero-image .hero-text {
    font-weight: 700;
    font-size: 90px;
    color: black;
    margin-top: 200px;
    text-shadow: black 2px 2px 2px;
    text-transform: uppercase;
    line-height: 95px;
}
.hero-image .by-text {
    font-weight: 500;
    font-size: 22px;
    color: rgb(66, 62, 62);
    margin-top: 20px;
}
 .homeC .carousel {
    margin-top: 150px;
    border-left: orangered solid 7px;
    border-top: orangered solid 7px;
}
.carousel .carousel-item img {
    height: 600px;
    width: 100%;
}
ul.icon-list  {
    list-style: none;
    margin-top: 55px;
    padding: 0px;
}
.icon-list li {
    margin-right: 40px;
    display: inline;
}
.icon-box {
    display: table;
}
.icon-box > img {
    display: table-cell;
    position: relative;
    top: 5px;
    vertical-align: middle;
    height: 90px;
    transition: all ease 500ms;
    border: rgb(235, 231, 231) solid 4px;
    border-radius: 50%;
    padding: 12px;
}
.icon-text {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 25px;
    
}
.icon-text > h5 {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6px;
}
.icon-text > span {
    display: block;
    color: #42444e;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    max-width: 120px;
}
.icon-box > img:hover {
    border: orangered solid 4px;
    border-radius: 50%;
}
@media (max-width:1155px){
    .hero-image .hero-text {
        font-size: 50px;
    }
    .icon-text > h5 {
        font-size: 12px;
    }
    .icon-text > span {
        font-size: 10px;
    }
}
@media (max-width:768px){
    .hero-image .hero-text {
        margin-top: 50px;
        font-size: 30px;
    }
}
footer {
    align-content: center;
    padding: 20px 0px;
    background-color: rgb(26, 25, 25);
}
.footer  h5 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.foottitle {
    padding-bottom: 6px;
    border-bottom: 3px solid gray;
    transition: ease all 300ms ;
}
.col-sm-4:hover .foottitle{
    border-bottom: 3px solid orangered;
}
.col-sm-3:hover .foottitle{
    border-bottom: 3px solid orangered;
}
.footer  ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 30px;
}
.footer ul li {
    margin-top: 7px;
}
.footer ul li a{
    font-size: 16px;
    color: gray !important;
    font-weight: 600;
    text-decoration: none;
    transition: all  300ms;
}
.footer ul li a:hover {
    color: white !important;
}
.footer ul.social-media li a i{
    transition-property: all;
    transition: all 600ms;
}
.footer ul.social-media li a i:hover {
    color: white !important;
    transform: rotate(360deg);
    background-color: orangered;
    border-radius: 100%;
    padding: 4px;
}
.footercontent {
    font-size: 16px;
    color: gray !important;
    font-weight: 600;
    margin-top: 30px;
}
.credit-line {
    color: white;
    font-weight: 600;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a.one:link, a.one:visited {
  background: transparent;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid;
  border-width: 1.5px;
  border-radius: 5px;
  margin-top: 7%;
  margin-left: 10%;
}

a.one:hover, a.one:active {
    border-color: white;
  color: lightgrey;

}
.para1{
    margin-top: 30px;
    margin-left: 10%;
    font-size: 70px;
}
.para2{
    margin-left: 10%;
    margin-top: 50px;
    font-size: 20px;
}
@media (max-width: 1100px) and (min-width: 992px){
    .para1 {
        margin-left: 10%;
        font-size: 40px;
    }
}
@media (max-width: 1100px) and (min-width: 992px){
    .para2{
        margin-left: 10%;
        font-size: 15px;
        margin-top: 8%;
    }
}
@media (max-width: 443px){
    .para1{
        margin-left: 10%;
        font-size: 38px;
    }
}
@media (max-width: 443px){
    .para2{
        margin-left: 10%;
        font-size: 15px;
        margin-top: 8%;
    }
}
@media (max-width: 1400px) and (min-width: 1100px){
    .para1{
        margin-left: 10%;
        font-size: 45px;
    }
}
@media (max-width: 1400px) and (min-width: 1100px){
    .para2{
        margin-left: 10%;
        font-size: 20px;
        margin-top: 5%;
    }
}
@media (max-width:760px){
    .footer  h5 {
        font-size: 15px;
    }
    .footer ul li a {
        font-size: 11px;
    }
    .footercontent {
        font-size: 11px;
    }
}
@media (max-width:486px){
    .footer  h5 {
        font-size: 10px;
    }
   .footer ul {
       margin-top: 15px;
   }
   .footercontent {
       margin-top: 15px;
   }
   .footer ul li {
    margin-top: 2px;
}
}
.wow { visibility: hidden; }